{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["react", "flowtype", "prettier", "react-native"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/default": "off",
    "no-unused-vars": "error",
    "no-undefined": "error",
    "no-undef": "error",
    "quotes": ["error", "double"],
    "react/jsx-no-bind":2
  }
}